{{define "content"}}
    <div class="container">
      <div>
        <h1>{{.PageTitle}}</h1>
      </div>
      <div>
        <table id="users" class="table table-bordered table-hover" style="width:100%">
          <thead class="text-white bg-info">
            <tr>
              <td>Client ID</td>
              <!--td>Name</td>
              <td>Action</td-->
              <td>Scope</td>
              <td>Resource IDs</td>
              <td>Authorities</td>
              <td>Authorized Grant Types</td>
              <td>Redirect URI</td>
              <td>Allowed Providers</td>
              <td>Last Modified</td>
            </tr>
          </thead>
          <tbody>
            {{range .PageData}}
              <tr>
                <td>{{ .ID }}</td>
                <!--td>{{ .Name }}</td>
                <td>{{ .Action }}</td-->
                <td>{{ range .Scope }}<span class="badge badge-info">{{.}}</span>{{end}}</td>
                <td>{{ range .ResourceIDs }}<span class="badge badge-secondary">{{.}}</span>{{end}}</td>
                <td>{{ range .Authorities }}<span class="badge badge-primary">{{.}}</span>{{end}}</td>
                <td>{{ range .AuthorizedGrantTypes }}<span class="badge badge-success">{{.}}</span>{{end}}</td>
                <td>{{ range .RedirectURI}}<span class="badge badge-warning">{{.}}</span>{{end}}</td>
                <td>{{ range .AllowedProviders}}<span class="badge badge-info">{{.}}</span>{{end}}</td>
                <td id="display{{.ID}}"></td>
                <script>
                    var data = new Date({{ .LastModified }});
                    document.getElementById("display{{.ID}}").innerHTML = data.toUTCString();
                </script>
            </tr>
            {{else}}<tr><td colspan="7">No Clients Were Found</td></tr>{{end}}
          </tbody>
        </table>
      </div>
    </div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white bg-danger">
                Delete Client?
            </div>
            <div class="modal-body">
                Are you sure?<br>
                This can't be undone!<br>
                Make sure you want to do this!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
{{end}}
